@charset "utf-8";
/* CSS Document */


body{background:#F3F6F9}
a,a:link,a:visited{outline:none;}
.blue-tab{background:#1C4772}
header .navbar-fixed-top{filter: drop-shadow(0px 2px 3.5px rgba(0,0,0,0.04));background-color: #ffffff;}
.navbar-header{background:#1C4772; text-align:center;padding:15px 0;}
a.navbar-brand,a.navbar-brand:link,a.navbar-brand:visited{padding:0; display:inline-block; float:none; height:auto;}
a.show-menu,a.show-menu:link,a.show-menu:visited{float:left; margin-top:20px;}
.search-box{margin-top:18px;}
.search-box {border:1px solid #E2E2E2}
.search-box .btn{border:0; border-radius:0;}
.search-box input{border:0; font:14px/20px 'source_sans_proregular'; color:#4D4F5C; box-shadow:none;}
.profile{ margin-top:15px;}
.profile select{width:100px; float:right;border:none;font:13px/20px 'source_sans_proregular'; color:#4D4F5C; background:url("../images/svg/small-down.svg") center right no-repeat; appearance:none; -webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; padding-left:20px; border-left:1px solid #EBEBF2; margin:10px 10px 0 0}
.mid-sec{position:relative; padding-top:30px;}

body{padding-top:69px}
h1,h2,h3,h4,h5,h6,p{margin:0;}
aside{height:100%; background:#205081; overflow-y:auto;z-index:10000; margin-left: -20px; margin-right: -15px;margin-top: -30px;}
aside h3{font:15px/16px 'source_sans_proregular'; color:#FFFFFF; padding:18px 0 18px 35px; border-top:1px solid #4D739A;border-bottom:1px solid #4D739A; text-transform:uppercase;}
aside ul.nav li{width:100%; float:left;}
aside ul.nav li a,aside ul.nav li a:link,aside ul.nav li a:visited{width:100%; float:left;padding:0; background:transparent;padding:18px 0 18px 18px;font:15px/16px 'source_sans_proregular'; color:#FFFFFF; border-left:5px solid transparent}
aside ul.nav li a:hover,aside ul.nav li a:active, aside ul.nav li.active a{ border-color:#fff; background:#1C4772}
aside ul.nav li p{font:15px/24px 'source_sans_proregular'; color:#FFFFFF; float:left; margin-left: 15px}
.nicescroll-cursors{border-color:#8a8a8a!important; background-color:#8a8a8a!important}

.main-section{border-radius: 4px;background-color: #ffffff;border: 1px solid #dbdbdb; padding:25px 30px 40px;}
.main-section h2{font:28px/30px 'source_sans_proregular'; color:#000000;}
a.creat-new,a.creat-new:link,a.creat-new:visited{width:auto;height: 35px; float:right;border-radius: 18px;background-color: #205081;font:15px/24px 'source_sans_proregular'; color:#FFFFFF; padding:5px 15px; text-decoration:none;}
a.creat-new:hover,a.creat-new:active{background:#4D739A}
a.creat-new object{margin-right:8px;}
.table.project-table{margin-top:30px;}
.table.project-table th{font:20px/21px 'source_sans_proregular'; color:#000000; text-align:center; padding:20px; vertical-align:middle}
.table.project-table td{font:16px/17px 'source_sans_proregular'; color:#000000; text-align:center;padding:20px;vertical-align:middle}
.table.project-table td a,.table.project-table td a:link,.table.project-table td a:visited{font:16px/18px 'source_sans_proregular'; color:#205081;}

a.trans-btn, a.trans-btn:link,a.trans-btn:visited,.table.project-table td a.trans-btn,.table.project-table td a.trans-btn:link,.table.project-table td a.trans-btn:visited{width:auto; height: 35px;border-radius: 18px;background-color: #fff;border: 1px solid #205081;font:15px/17px 'source_sans_proregular'; color:#205081; padding:8px 15px; display:inline-block; text-decoration:none;}
a.trans-btn:hover, a.trans-btn:active,.table.project-table td a.trans-btn:hover,.table.project-table td a.trans-btn:active{color:white;background:#205081; }

.table.project-table .dropdown{cursor:pointer}
.table.project-table .dropdown-menu{left:auto; right:0;}
.table_sort{width:11px; float:right; margin-top:-10px;line-height:8px; display:none;}
.table.project-table th .table_sort a.sort-up,.table.project-table th .table_sort a.sort-down{margin:0;}

/* home-page changes */
.main-section-list ul{float:left;}
.main-section-list ul li{margin-left:15px;border-right:1px solid #dbdbdb;}
.main-section-list ul li a,ul.main-section-list li a:link,ul.main-section-list li a:visited{font:16px/23px 'source_sans_proregular';color:#205081;margin-right:20px;}
.main-section-list ul li:last-of-type{border-right:none;}
.main-section-list ul li:first-of-type{margin-left:0;}
.main-section-list p{font:15px/24px 'source_sans_proregular';float:left;margin-right:10px;}
.project-row{margin-top:15px;}
.study-block{border-radius:4px;border:1px solid #dbdbdb;padding:15px;}

@font-face {
    font-family: 'source_sans_proregular';
    src: url('../fonts/sourcesanspro-regular-webfont.eot');
    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


.project-name {
    font: 20px/26px 'source_sans_proregular';
    padding-top: 5px;
}

.study-block {
    /* border: 1px solid #AAAAAA; */
    /* border-radius: 20px; */
    /* padding: 10px; */
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: -5px;
    margin-right: -5px;
}

.report-dropdown {
    background: url("../images/svg/small-down.svg") center right no-repeat;
    padding-right: 20px;
    cursor: pointer;
}